extends layout.pug


block content

	if error
		p Please fill the inputs

	if deleted
		p.success Deleted

	if created
		p.success Anime added

	.section.flex 
		.list
			for anime in animes
				p Name: #{anime.name} 
				p Date: #{anime.date}
				p Type: #{anime.type}
				p Genres: #{anime.genres}
				p Episodes: #{anime.episodes}
				p Comment: #{anime.comment}
						
						button.delete(href='/${ anime.id }') Delete
						
			